<main>
  <h2>THIS IS THE LIST OF PRODUCTS WE HAVE ON STORE<h2>
      <div id="list-procucts">
        <ul>
          <% products.forEach((product) => { %>
          <li class="one-product">
            <div class="image">
              <img src="<%=product.imageUrl%>">
            </div>
            <div class="productInformation ">
              <h5>
                <%= product.name %>
              </h5>
              <div class="details">
                <p>price $
                  <%= product.price %>
                </p>
                <p>description
                  <%=product.description%><br></p>
              </div>
              <div>
                <a class="f6 link dim br1 ph3 pv2 mb2 dib white bg-black" href="/products/<%= product._id %>">View Details</a>
                <a class="f6 link dim br1 ph3 pv2 mb2 dib white bg-near-black" href="/products/<%= product._id %>/edit/">Edit Product</a>
              </div>
              <div class="delete-form">
                <form action="/products/<%= product._id%>/delete" method="POST">
                  <button class="form-delete" type="submit">Delete Product</button>
                </form>
              </div>
            </div>
          </li>
          <%  }) %>
        </ul>
      </div>
      <hr>
      <form class="pa4 black-80" action="/products/search">
        <label class="f6 b db mb2" for="search-term">Search for an item by name</label>
        <input class="input-reset ba b--black-20 pa2 mb2 db w-100" type="text" name="searchTerm" id="search-term">

        <button class="f6 grow no-underline br-pill ba bw2 ph3 pv2 mb2 dib dark-green" type="submit">Search</button>
      </form>
      <p>Search by price</p>
      <a class="f6 link dim br3 ph3 pv2 mb2 dib white bg-light-purple" href="/products/expensive">Most Expensive Items</a>
      <a class="f6 link dim br3 ph3 pv2 mb2 dib white bg-dark-green"n href="/products/cheapest">Cheapest Items</a>
      <p>Add a new product</p>
      <a class="f6 link dim br3 ph3 pv2 mb2 dib white bg-dark-pink" href="/products/new">New</a>

</main>
